<div class="row">
    <div class="col-6">
        <app-dona [Colors]="colors1" [labels]="labels1" [data]="data1" title="Comidas"></app-dona>
    </div>
    <div class="col-6">
        <app-dona [Colors]="colors2" [labels]="labels2" [data]="data2" title="Vestimenta"></app-dona>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <app-dona [labels]="labels3" [data]="data3" title="Colores"></app-dona>
    </div>
    <div class="col-6">
        <app-dona [Colors]="colors4" [labels]="labels4" [data]="data4" title="Temporada"></app-dona>
    </div>
</div>
